@model AlbumCollection.Models.Song
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="backgroundImage">
        <h2>Add a Song Title</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="SongName" class="form-control" />
                        
                    </div>
                    <div>
                        <input type="hidden" asp-for="AlbumId" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save your song" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="/Index">Back to List</a>
        </div>
    </div>
</body>
</html>
