@model AlbumCollection.Models.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Songs on @Model.AlbumName</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="backgroundImage">

        <div class="container" id="songGallery">

            <h2>@Model.AlbumName</h2>
            <h3>by @Model.ArtistName</h3>

            <h4>Song List</h4>

        <div class="songList">
            <ol>
                @foreach (var song in Model.Song)
                {
                    <li>@song.SongName</li>
                }
            </ol>
          </div>
        <div class="songLink">
            <a href="/Song/Create/@Model.AlbumId" />Add your own song title
        </div>
        
        <div class="songLink1">
            <a href="/Album">Back to list</a>
        </div>
    </div>
</body>
</html>
