@model AlbumCollection.Models.Song

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <h1>My Album Details View</h1>
</body>
</html>
