@model IEnumerable<AlbumCollection.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="backgroundImage">
        <h1>Albums</h1>
        <h3>Want to see some songs? Go ahead, pick an album.</h3>
           
            <div class="container" id="albumGallery">
                @{ int i = 0;}
                @foreach (var album in Model)
                {
                    <section class="grid-item grid-item @i">
                        <img src="@album.AlbumImageLocation" />
                        <h4><a href="/Album/Details/@album.AlbumId">@album.AlbumName</a></h4>


                    </section>
                    i++;

                }
            </div>

            <div class="link" id="backToList">
                <p><a href="/Album">Back to list</a></p>
            </div>
    </div>
</body>
</html>
